* {
	font-family: $fuentePrincipal;
	font-size: $tamanioFuente;
	box-sizing: border-box;
	color: $colorBlancoPrincipal;
}
body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin:0px;
	// flex-direction: column;
	// align-items: flex-start;

}



