<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap")
	link( href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet")
	//- CSS
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/all.min.css")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilos.css")

	//- Javascript
	//- script(src='js/popper.min.js')
	script(src='js/jquery-3.5.1.min.js')
	script(src="js/main.js")
	script(src="js/modal.js")
	script(src="js/animacion_scroll.js")
	script(src="js/progreso.js")
	script(src="js/smooth.js")
	script(src="js/cambiarIdioma.js")
	title Tatto Master Ink
body
	div.idioma
		h1 Tatto Master Ink
		p Select your language
		div.languages
			//- button .
			div.language
				img(src="img/bandera_mexico.png", alt="")
				button.translate#es Español
			div.language
				img(src="img/bandera_united_states.png", alt="")
				button.translate#en English
			div.language
				img(src="img/bandera_brazil.png", alt="")
				button.translate#pr Português
	//- Contenido pagina
	div.header
		nav.nav-header
			div.titulo-nav
				h2 Tatto Master Ink
			div.menu-navegacion
				a.active.lang(href="#home" key="menuInicio") Inicio
				a.lang(href="#acerca-de" key="menuAcerca") Acerca de mi
				a.lang(href="#mis-trabajos" key="menuTrabajos") Mis trabajos
				a.lang(href="#cotiza" key="menuCotiza") Cotizar
				//- h5.traducr Idioma
		div.progreso
			div.barra
					
	header.homee#home

		span.cambiar-idioma
			i.fas.fa-language

		div#fondo.fondo
			img.secundario(src="img/fondo-header-1.jpg", alt="")
			img.primario(src="img/fondo-header-1.jpg", alt="")
			div.contenido
				div.menu#menu
					a.active.lang(href="#home" key="menuInicio") Inicio
					a.lang(href="#acerca-de" key="menuAcerca") Acerca de mi
					a.lang(href="#mis-trabajos" key="menuTrabajos") Mis trabajos
					a.lang(href="#cotiza" key="menuCotiza") Cotizar
				div.titulo
					h1 Tatto Master Ink
				div.leyenda
					h2#leyenda.lang(key="leyenda") Tatuajes diseñados y hechos a tu medida.
			

	//- div.fondo-header#fondo-header
	//- 	div.menu
	//- 		ul#menu
	//- 			li
	//- 				a.lang(href="#" key="menuInicio") Inicio
	//- 			li
	//- 				a.active.lang(href="#acerca-de" key="menuAcerca") Acerca de mi
	//- 			li
	//- 				a.lang(href="#mis-trabajos" key="menuTrabajos") Mis trabajos
	//- 			li
	//- 				a.lang(href="#cotiza" key="menuCotiza") Cotizar
	//- 			//- li
	//- 			//- 	a.traducir(href="#") Idioma
	//- 	div.titulo
	//- 		h1#titulo Tatto Master Ink
	//- 	div.leyenda
	//- 		h2#leyenda.lang(key="leyenda") Tatuajes diseñados y hechos a tu medida.
	main
		section.acerca-de#acerca-de
			div.cabecera
				div.contenedor-foto
					img#foto-perfil(src="img/img-perfil.jpg", alt="" width="200")
					h3.nombre Tonny Garcia
				div.redes-sociales
					a.twitter(href="#")
						i.fab.fa-twitter
					a.fb(href="#")
						i.fab.fa-facebook-f
					a.instagram(href="#")
						i.fab.fa-instagram
					a.pinterest(href="#")
						i.fab.fa-pinterest
			div.pie
				div.contenedor-imagen
					img(src="img/acerca-de.jpg", alt="")
				div.texto
					h3.lang(key="menuAcerca") Acerca de mi
					p.lang(key="sobreMi") Soy un tatuador con más de 5 años de experiencia conociendo los diferentes estilos del arte del tatuaje, así mismo sé como llegar al gusto del cliente porque un tatuaje no solo es una imagen plasmada, también es un significado, una historia, un sentimiento.
		section.mis-trabajos#mis-trabajos

			div.titulo.tituloTrabajos
				h3.lang(key="menuTrabajos") Mis trabajos
			div.gallery
				div.img-card
					img.ima(src="img/tattoo1.jpg", alt="Tatuaje 1")
				div.img-card.wow.bounceInDown
					img.ima(src="img/tattoo2.jpg", alt="Tatuaje 2")
				div.img-card
					img.ima(src="img/tattoo3.jpg", alt="Tatuaje 3")
				div.img-card
					img.ima(src="img/tattoo4.jpg", alt="Tatuaje 4")
				div.img-card
					img.ima(src="img/tattoo5.jpg", alt="Tatuaje 5")
				div.img-card
					img.ima(src="img/tattoo6.jpg", alt="Tatuaje 6")
				div.img-card
					img.ima(src="img/tattoo7.jpg", alt="Tatuaje 7")
				div.img-card
					img.ima(src="img/tattoo1.jpg", alt="Tatuaje 8")
			div.modale

				div.caption-text
				div.list
					div.contenedor-img
						img(src="img/tattoo1.jpg", alt="Tatuaje 1")
					div.contenedor-img
						img(src="img/tattoo2.jpg", alt="Tatuaje 2")
					div.contenedor-img
						img(src="img/tattoo3.jpg", alt="Tatuaje 3")
					div.contenedor-img
						img(src="img/tattoo4.jpg", alt="Tatuaje 4")
					div.contenedor-img
						img(src="img/tattoo5.jpg", alt="Tatuaje 5")
					div.contenedor-img
						img(src="img/tattoo6.jpg", alt="Tatuaje 6")
					div.contenedor-img
						img(src="img/tattoo7.jpg", alt="Tatuaje 7")
					div.contenedor-img
						img(src="img/tattoo5.jpg", alt="Tatuaje 8")
				div.img-modal
					img#myModalImg(src="", alt="")
				span.close 
					i.fas.fa-times-circle
		section.cotiza#cotiza 
			//- div.fondo
			div.ubicacion
				div.titulo
					h3.lang(key="menuCotiza") Cotiza tu tatuaje
				div.contenedor-body
					img(src="img/body-front.png", alt="Ubicacion de tatuajes")
			form.formulario
				div.cajas
					input.lang(type="text" key="inputNombre" placeholder="Nombre")
					input.lang(type="email" key="inputCorreo"  placeholder="Correo")
					input(type="text" placeholder="WhatsApp")
					input.lang(type="text" key="inputPosicion" placeholder="Posición")
					input.lang(type="text" key="inputTamanio" placeholder="Tamaño")
				div.comentarios-subir
					textarea.lang(name="comentarios", cols="30", rows="10" maxlenght="200" key="inputArea" placeholder="Escribe comentarios o dudas")
					div.boton-subir
						p.lang(key="cargarArchivo") Subir archivo
						input.subir-archivo(type="file", name="adjunto" accept=".png, .jpg, .pdf")
					div.terminos
						div.contenedor-check
							input#squaredOne(type="checkbox" values="None" name="check" checked)
							label(for="squaredOne")
						p.lang(key="aceptarTerminos") Aceptar Terminos y condiciones
				div.enviar
					input.lang(type="submit" key="inputEnviar" value="Enviar")
			



				